/* header */
#header-logo {
    width: 200px;
}

/* main */
main {
    min-height: calc(100vh - 144px);
}

.bg-dark {
    background-color: #1e1e2e !important;
}

.bg-secondary {
    background-color: #27293d !important;
}

/* home */
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}